@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');@import "tailwindcss";

@theme {
  --font-Caveat: "Caveat", cursive;
  --font-Palanquin : "Palanquin", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #111;
}